.ply{
    display: none;
}

.slv{
    display: none;
}

.bsq{
    display: none;
}
.cdd{
    display:none;
}

.preguntainit{
    display: flex;
    
}

.errores{
    color: red;
}

#holder{
    background-color: rgb(161, 212, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(119, 171, 177);
    border-radius: 15px;
    height: 150px;
}

.botonescuenta{
    width: 180px;
    height: 50px;
    font-size: 15px;
    background-color: rgb(119, 171, 177);
    text-align: center;
    border: 5px solid rgb(93, 134, 138);
    border-radius: 10px;

}

#conte{
    display: flex;
    height: inherit;
    width: 400px;
    background-color: rgb(161, 212, 219);
    padding: 35px;
    border: 5px solid rgb(119, 171, 177);
    border-radius: 10px;
}

#animalform{
    display: none;
    height: inherit;
    width: 300px;
    background-color: rgb(161, 212, 219);
    padding: 35px;
    border: 5px solid rgb(119, 171, 177);
    border-radius: 10px;
}


@font-face {
    font-family: Bree_serif;
    src: url('../fonts/Bree_serif/BreeSerif-Regular.ttf');
}

#bioform{
    display: none;
    flex-direction: column;
    height: inherit;
    width: 500px;
    background-color: rgb(161, 212, 219);
    padding: 35px;
    border: 5px solid rgb(119, 171, 177);
    border-radius: 10px;
}


body{
    font-family: Bree_serif;
    text-align: center;
    background-image: linear-gradient(to bottom, #A1D4DB , #000000);
    min-height: 100vh;
}

.cent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#resultado{
    display: none;
    height: inherit;
    width: 70%;
    background-color: rgb(161, 212, 219);
    padding: 35px;
    border: 5px solid rgb(119, 171, 177);
    border-radius: 10px;
}

form{
    display:flex;
    flex-direction: column;
    text-align: left;
}


