body{
    margin: 0;
    background-image: url('../img/ciudad\ original.png');
    
    background-position: center center;
    font-family: Bree_serif;
}

body ::before{
    background-color: #0000002f;
}

@font-face {
    font-family: Bree_serif;
    src: url('../fonts/Bree_serif/BreeSerif-Regular.ttf');
}

#result{
    display: none;
    background-color: #0000004f;
    width: 30%;
    margin-left: 4em;
    
}

#bsq{
    position: relative;
    bottom: 5px;
    background-color: #00000000;
    border-color: #00000000;
    outline: none;
}

#grad{
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(#031ca6, #8f757534);
    white-space: nowrap;
    position: fixed;
    width: 100%;
    top: 0;
}

.main{
    margin-top: 9em;
}

.header{
    margin-left: 1rem;
    display: flex;
    position: sticky;
    flex-wrap: nowrap;
    color: white;
    align-items: center;
    max-height: 2cm;
    font-size: larger;
}

.cent{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 32%;
    margin-left: 33%;
}

.songSearch{
    margin-left: 1rem;
    border: 0.25rem solid black;
    border-radius: 3rem;
    padding: .5rem .5rem;
    border-color: #ffffff;
}

#search{
    background-color: #00000000;
    border: none;
    color: white;
    outline: none;
}

#searchIcon{
    max-width: 1.5rem;
    height: auto;
    color: #ffffff;
}

#searchIcon:hover{
    cursor: pointer;
}

#submitSearch{
    background-color: #00000000;
    border: none;
    max-width: 2rem;
}

#headerNav{
    display: flex;
    width: 100%;
    align-items: center;
}

#headerUser{
    display: flex;
    background-color: #e13b96;
    margin-right: 1rem;
    text-decoration: none;
    color: white;
    margin-left: auto;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#froggy{
    margin-bottom: .2rem;
    max-width: 2.5rem;
    height: auto;
}

.topBarNav{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    font-size: large;
}

.navBar{
    text-decoration: none;
    color: white;
}

.mainTitle{
    background-color: #e13b96;
}

.mainElement{
    background-color: #b18ccf;
    height: 5em;
    margin: 2em 2em;
    font-size: 24px;
}

#mainSection{
    display: grid;
    grid-template-columns: repeat(2, 3fr) 4fr;
    margin: 1mm 9em;
}

#ranita2{
    width: 12rem;
    height: auto;
    margin: 7em 5em 0;
}

#grid{
    display: grid;
}

#grid2{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

#contain{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

#site{
    font-size: 27px;
}
#centerDiv{
    display: flex;
    background-color: #e13b96;
    font-size: 24px;
    margin: 85% 25%;
    color: white;
    justify-content: center;
    padding: .5em;
    width: 40%;
}

#myPlaylists{
    text-align: center;
    font-size: 32px;
}

#recSongs{
    text-align: center;
    font-size: 32px;
}

img[alt="+"]{
    margin-top: 2em;
    width: 2em;
}

#player{
    display: none;
}