#portadaplay{
    width: 30rem;
    height: 30rem;
    background-color: black;
    margin-top: 4em;
}
#album {
    display: flex;
    width: 20rem;
    padding: 0.5rem;
    flex-direction: column;
    align-items: top;
    color: #ffffff;
}

.tipog{
    background-color: rgb(48, 75, 211);
    color: #ffffff;
    height: 2rem;
}

#lista {
    display: flex;
    margin-left: auto;
    padding: 0 5rem;
    flex-direction: column;
    background-color: #244a3a44;
}

#agregarC{
    display: flex;
    flex-direction: column;
    align-items: left;
}

#listaRepro{
    display:flex;
    margin: 12rem 0 0 8rem;
    flex-wrap: wrap;
    justify-content: space-between;
}
#boton{
    width: 10px;
    height: 20px;
}

.secSongs{
    display: flex;
    margin-top: 2em;
}
.song {
    display: flex;
    flex-direction: row;
    padding: 4px;
    font-size: 22px;
    text-decoration: none;
    background-color: rgb(48, 75, 211);
    color: rgb(255, 255, 255);
}

.delete{
    margin-left: auto;
    background-color: #000000;
    color: #ffffff;
    border: none;
}