*{
}
body{
    margin: 0;
    height: 100%;
    background-image: url('../img/ciudad\ original.png');
    background-position: center center;
    font-family: Bree_serif;
    overflow-y: auto;
}

body ::before{
    background-color: #0000002f;
}
@font-face {
    font-family: Bree_serif;
    src: url('../fonts/Bree_serif/BreeSerif-Regular.ttf');
}

#grad{
    display: flex;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(#031ca6, #8f757534);
    white-space: nowrap;
    position: fixed;
    width: 100%;
    top: 0;
}

.main{
    margin-top: 9em;
}

.header{
    margin-left: 1rem;
    display: flex;
    position: sticky;
    flex-wrap: nowrap;
    color: white;
    align-items: center;
    max-height: 2cm;
    font-size: larger;
}

.songSearch{
    margin-left: 1rem;
    border: 0.25rem solid black;
    border-radius: 3rem;
    padding: .5rem .5rem;
    border-color: #ffffff;
}

#search{
    background-color: #00000000;
    border: none;
    color: white;
    outline: none;
}

#searchIcon{
    max-width: 1.5rem;
    height: auto;
    color: #ffffff;
}

#searchIcon:hover{
    cursor: pointer;
}

#submitSearch{
    background-color: #00000000;
    border: none;
    max-width: 2rem;
}

#headerNav{
    display: flex;
    width: 100%;
    align-items: center;
}

#headerUser{
    display: flex;
    background-color: #e13b96;
    margin-right: 1rem;
    text-decoration: none;
    color: white;
    margin-left: auto;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#froggy{
    margin-bottom: .2rem;
    max-width: 2.5rem;
    height: auto;
}

.topBarNav{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    font-size: large;
}

.navBar{
    text-decoration: none;
    color: white;
}
#site{
    font-size: 27px;

}
#mainSection{
    display: flex;
    width: 100%;
    height: auto;
    position: fixed;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    flex-flow: row wrap;
    margin-top: 79px;
    padding: auto;
    overflow: auto;
}
#main{
    display: flex;
    width: 100%;
    height: auto;
}
.portada{
    display: flex;
    width: 222px;
    height: 222px;
    margin: 29px 41px 41px 41px;
    background-color: #e13b96;
    white-space: wrap;
    cursor: pointer;
}
#recSongs{
    width: 100%;
    display: flex;
    font-size: 60px;
    position: fixed;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.playlist{

}

.playlistTexto{
    display: flex;
    text-decoration: none;
    color: white;
    width: 100%;
    justify-content: center;
    font-size: 27px;
}

a{
    color:#ffffff;
}

h1{
    color: #000000;
    font-size: 30px;
}