.botones {
    padding: 10px;
    display: flex;
    height: 120px;
    width: 120px;
    cursor: pointer;
    border-radius: 4px;
    justify-content: center;
    box-sizing: content-box;
    margin: 10px;
}

#botonesAlbumes {
    padding-top: 15%;
    padding-left: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imagenes {
    height: 150px;
    width: 150px;
}
