    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Créditos</title>
        <link rel="stylesheet" href="../Statics/styles/Creditos.css">
        <link rel="stylesheet" href="../Statics/styles/inicio.css">
        <link rel="icon" href="../Statics/img/logo.png" type="image/x-icon">
        <title>Créditos</title>
    </head>
    <body>
        <section id="grad">
        <header class="header">
            <a href="./Templates/inicio.html" class="navBar" id="site">Yolcame Miusic</a>
            <nav id="headerNav">
                <div class="songSearch">
                    <form>
                        <input type="text" id="bsq" name="bsq">
                        <button type="submit" id="submitSearch">
                            <img src="../Statics/img/search.svg" alt="searchIcon" id="searchIcon">
                        </button>
                    </form>
                </div>
                <a href="../Templates/Perfil.html" id="headerUser">
                    <img src="../Statics/img/Ranita.png" alt="userIcon" id="froggy">
                </a>
            </nav>
        </header>
        <div class="cent">
            <ul id="result"></ul>
        </div>
        <nav class="topBarNav">
             <a href="./tusPlaylist.html" class="navBar">  
                <span id="misPlaylists">Mis Playlists</span>
            </a>
            <a href="./ventanaArtistas.html" class="navBar">
                <span>Artistas</span>
            </a>
            <a href="./generosVentana.html" class="navBar">
                <span>Géneros</span>
            </a>
            <a href="./ventanaAlbumes.html" class="navBar">
                <span>Albumes</span>
            </a>
            <a href="./inicio.html" class="navBar" id="creditos">
                <span>Inicio</span>
            </a>
        </nav>
    </section>
    <!-- <h1 id="titulo"> Creditos-Equipo 2 </h1> -->

    <hr>
    <br><br><br>
    <ol>
        <li>
            <h1>Johan Ricardo Espinoza Rodríguez</h1>
            <br>
            <img src="../Statics/img/Johan.jpg" alt="Foto de Johan" width="40%">
            <h3>Canciones favoritas</h3>
            <ol>
                <li>The Strokes-Reptilia</li>
                <li>Nirvana-The Man Who Sold The World</li>
                <li>Radiohead-Creep</li>
            </ol>
            <h3>Género músical favorito</h3>
            <p>Rock</p>
        </li>
        <hr>
        <li>
            <h1>Mirles Quintero Luis Ángel<h1>
            <img src="../Statics/img/Fotografia.png" width="40%" height="20%">
            <h3>3 canciones favoritas:</h3>
            <ol>
                <li><a href= "https://www.youtube.com/watch?v=UlmrdDtDjLU"> 5 to 7 years </a></li>
                <br>
                <li><a href= "https://www.youtube.com/watch?v=Ooq23i-QGBM"> Love Illumination </a></li>
                <br>
                <li><a href= "https://www.youtube.com/watch?v=G0xLD2stayM"> Te hacen falta vitaminas </a></li>
            </ol>  
        </li>
        <hr>
        <li>      
            <h1> Emilio Fraide Armenta </h1>
            <img src="../Statics/img/Emilio_img.png" width="40%" height="20%">
            <br> </br>
            <table border="5" cellpadding="5%">
                <thead>
                    <th> Mis 3 canciones favoritas </th>
                    <td>
                        <ol>
                            <li> Navigating - Twenty one pilots</li>
                            <li> Cachito de galaxia - Porter</li>
                            <li> Nico and the niners  - Twenty one pilots</li>
                        </ol>
                    </td>
                </thead>    
            </table>
            <p> Mi genero musical preferido es el rock </p>
        </li>
        <hr>
        <li>
            <h1> <strong> Luisa Helena Cortés Castillo </strong></h1>
            <br> 
            <img src = "../Statics/img/yo.jpg" alt "Yo" width = "300" height = "232">
            <br>
            <h3> Mis canciones favoritas: </h3>
            <ul>
                <li> Good Luck, Babe! - Chappell Roan </li>
                <li> Paraíso Lunar - Siddhartha </li>
                <li> Buscarte Lejos - Duki </li>
            </ul>
            <br>
            <h3> Mi género musical favorito </h3>
            <p> Es el pop en sus variantes en cualquier idioma </p>
        </li>
        <hr>
        <li>        
            <h1>Valeria</h1>
            <br>
            <img src="../Statics/img/Valeria.jpg" alt="Mi foto" width="200px">
            <br>
            <br>
            <table border="1" width="50%">
                <thead>
                    <tr>
                        <td>
                            <h3>Canciones favoritas</h3>
                        </td>
                        <td>
                            <ul>
                                <li>
                                    Maniac - Stray Kids
                                    <br>
                                    <a href="https://www.youtube.com/watch?v=OvioeS1ZZ7o" target="_blank">Escucha la canción</a>
                                    <br>
                                    <br>
                                </li>
                                <li>
                                    Billionaire - Travis McCoy y Bruno Mars
                                    <br>
                                    <a href="https://www.youtube.com/watch?v=8aRor905cCw" target="_blank">Escucha la canción</a>
                                    <br>
                                    <br>
                                </li>
                                <li>
                                    Man in the Mirror - Michael Jackson
                                    <br>
                                    <a href="https://www.youtube.com/watch?v=PivWY9wn5ps" target="_blank">Escucha la canción</a>
                                    <br>
                                    <br>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </thead>
            </table>
            <br>
            <h3>Género favorito de música</h3>
            <p>Me gusta el pop, regional mexicano, y canciones de Disney</p>
            </li>
    </ol>

</body>
</html>
