<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="icon" href="../Statics/img/logo.png" type="image/x-icon">
</head>

<body>
    <header>
        <img src = "../Statics/img/fotoUsuario.png" width = "170">
        <h2> Editar perfil </h2>
    </header>

    <main>
        <section id = "ediciónDatos">
            <form>
                <label for = "usuario"> Nombre de Usuario </label> <br>
                <input type = "text" id = "usuario" name = "usuario"> <br> <br>
                <label for = "Artista"> Artista Favorito </label> <br>
                <input type = "text" id = "Artista" name = "Artista"> <br> <br> 
                <label for = "Canción"> Canción Favorita </label> <br>
                <input type = "text" id = "Canción" name = "Canción"> <br> <br>
                <label for = "Descripción"> Descripción </label> <br>
                <textarea id = "Descripción" name = "Descripción"> </textarea>
            </form>
        </section>
    </main>
</body>
</html>