<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/styles/generos.css">
    <title>Document</title>
</head>
<body>
    <main>
        <h2>Géneros</h2>
        <section>
            <button class="genero">Género</button>
            <button class="genero">Género</button>
            <button class="genero">Género</button>
            <button class="genero">Género</button>
            <button class="genero">Género</button>
            <button class="genero">Género</button>
            <button class="genero">Género</button>
            <button class="genero">Género</button>
            <button class="genero">Género</button>
            <button class="genero">Género</button>
            <button class="genero">Género</button>
            <button class="genero">Género</button>
        </section>
    </main>
</body>
</html>