<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/styles/inicio.css">
    <script src="../Dynamics/basedata.js"></script>
    <script src="../Dynamics/nuestraBase.js"></script>
    <title>Yolcame Miusic</title>
    <link rel="icon" href="../Statics/img/logo.png" type="image/x-icon">
</head>
<body>
    <section id="grad">
        <header class="header">
            <a href="./Templates/inicio.html" class="navBar" id="site">Yolcame Miusic</a>
            <nav id="headerNav">
                <div class="songSearch">
                    <form>
                        <input type="text" id="bsq" name="bsq">
                        <button type="submit" id="submitSearch">
                            <img src="../Statics/img/search.svg" alt="searchIcon" id="searchIcon">
                        </button>
                    </form>
                </div>
                  <a href="../Templates/Perfil.html" class="mainT" id="headerUser">
                    <img id="avatar" alt="userIcon">
                  </a>
            </nav>
        </header>
        <div class="cent">
            <ul id="result"></ul>
        </div>
        <nav class="topBarNav">
             <a href="./tusPlaylist.html" class="navBar">  
                <span id="misPlaylists">Mis Playlists</span>
            </a>
            <a href="./ventanaArtistas.html" class="navBar">
                <span>Artistas</span>
            </a>
            <a href="./generosVentana.html" class="navBar">
                <span>Géneros</span>
            </a>
            <a href="./ventanaAlbumes.html" class="navBar">
                <span>Albumes</span>
            </a>
            <a href="./playlistCancion.html" class="navBar">
                <span>Reproductor</span>
            </a>
            <a href="../Templates/creditos.html" class="navBar" id="creditos">
                <span>Créditos</span>
            </a>
        </nav>
    </section>
    <main class="main">
        <section id="mainSection">
            <article id="myPlaylists">
                <div class="mainT" id="myPlaylists">Mis <br> Playlists</div>
                <div id="playlists"></div>
            </article>
            <article>
                <img id="avatarGrande"alt="mainFig">
                <div id="btnNuevaPlaylist" class="mainT" onclick="window.location.href='nuevaPlaylist.html'">Crear Playlist</div>
            </article>
            <article id="recSongs">
                <div class="mainT" id="recSongs">Canciones que te recomendamos</div>
                <div id="cancionesRecomendadas"></div>
            </article>
        </section>
    
    </main>
    <script src="../Dynamics/buscador.js"></script>
    <script src="../Dynamics/cargarPerfil.js"></script>
</body>
</html>
