<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/styles/tusPlaylist.css">
    <title>Mis playlist</title>
    <link rel="icon" href="../Statics/img/logo.png" type="image/x-icon">
</head>
<body>
    <section id="grad">
        <header class="header">
            <a href="../Templates/inicio.html" class="navBar" id="site">Yolcame Miusic</a>
            <nav id="headerNav">
                <div class="songSearch">
                    <form>
                        <input type="search" id="search" name="search">
                        <button type="submit" id="submitSearch">
                            <img src="../Statics/img/search.svg" alt="searchIcon" id="searchIcon">
                        </button>
                    </form>
                </div>
                <a href="../Templates/Perfil.html" id="headerUser">
                    <img src="../Statics/img/Ranita.png" alt="userIcon" id="froggy">
                </a>
            </nav>
        </header>
        <nav class="topBarNav">
            <a href="./inicio.html" class="navBar">  
                <span id="misPlaylists">Inicio</span>
            </a>
            <a href="./ventanaArtistas.html" class="navBar">
                <span>Artistas</span>
            </a>
            <a href="./generosVentana.html" class="navBar">
                <span>Géneros</span>
            </a>
            <a href="./ventanaAlbumes.html" class="navBar">
                <span>Albumes</span>
            </a>
            <a href="../Templates/creditos.html" class="navBar" id="creditos">
                <span>Créditos</span>
            </a>
        </nav>
    </section>
    <main class="main">
        <div class="mainTitle" id="recSongs">Mis Playlists</div>
        <section id="mainSection">
        </section>
    </main>
    <script src="../Dynamics/misplaylist.js"></script>
</html>