<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../Statics/styles/ventanaArtistas.css">
    <script src = "../Dynamics/basedata.js"></script>
    <title>Artistas</title>
    <link rel="icon" href="../Statics/img/logo.png" type="image/x-icon">
</head>

<body>
    <section id="grad">
        <header class="header">
            <h1 id="site">Yolcame Miusic</h1>
            <nav id="headerNav">
                <div class="songSearch">
                    <form>
                        <input type="bsq" id="bsq" name="bsq">
                        <button type="submit" id="submitSearch">
                            <img src="../Statics/img/search.svg" alt="searchIcon" id="searchIcon">
                        </button>
                    </form>
                </div>
                <a href="" id="headerUser">
                    <img src="../Statics/img/Ranita.png" alt="userIcon" id="froggy">
                </a>
            </nav>
        </header>
        <div class="cent">
            <ul id="result"></ul>
        </div>
        <nav class="topBarNav">
            <a href="./tusPlaylist.html" class="navBar">  
                <span>Mis Playlist</span>
            </a>
            <a href="./inicio.html" class="navBar">
                <span>Inicio</span>
            </a>
            <a href="./generosVentana.html" class="navBar">
                <span>Géneros</span>
            </a>
            <a href="./ventanaAlbumes.html" class="navBar">
                <span>Albumes</span>
            </a>
            <a href="./creditos.html" class="navBar">
                <span>Créditos</span>
            </a>
        </nav>
    </section>

    <main>
        <h1 id = "titulo"> Artistas </h1>
        <section id = "botonesArtistas">
            <section id = "descripciones">
            </section>
        </section>
    </main>
    
</body>

<script src = "../Dynamics/JS/ventanaArtistas.js"></script>
<link rel = "stylesheet" href = "../Statics/styles/ventanaArtistas1.css">

</html>